@page "/"

<h3>Dashboard</h3>

<p><Text>Dit is de index</Text></p>
<p><button class="btn btn-flat-dark" type="button">Button via material</button></p>
<p><Button Color="Color.Dark">Button via Blazorise</Button></p>
<p><Button class="btn btn-flat-dark">Button via Blazorise met material class</Button></p>

@code {

}
