<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageRestore>
      <!-- Allow NuGet to download missing packages -->
      <add key="enabled" value="True" />
      <!-- Automatically check for missing packages during build in Visual Studio -->
      <add key="automatic" value="True" />
   </packageRestore>
   <packageSources>
      <clear />
      <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
   </packageSources>
   <!-- Don't use any higher level config files.
       Our builds need to be isolated from user/machine state -->
   <fallbackPackageFolders>
      <clear />
   </fallbackPackageFolders>
   <solution>
      <add key="disableSourceControlIntegration" value="false" />
   </solution>
</configuration>
